
cmake-build-debug/Makefile
*.xml
.idea/.name
*.cmake
*.bin
*.exe
*.txt
.idea/d0017e.iml
.idea/workspace.xml
*.cbp
*.make
*.rsp
*.includecache
*.marks
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
.idea/workspace.xml
.idea/d0017e.iml
cmake-build-debug/CMakeFiles/sandbox.dir/main.c.obj
cmake-build-debug/CMakeFiles/sandbox.dir/objects.a
cmake-build-debug/CMakeFiles/sandbox.dir/depend.internal
.idea/workspace.xml
